<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Folder</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <!-- if we're not in root folder, then have a go back -->
   <!-- parent id for root folder will be 0 -->
    <% if (parentFile.parent_id) { %>
      <form action="/files/<%= parentFile.parent_id %>" method="GET">
        <button type="submit" class="btn">Go Back</button>
      </form>
      

    <% } %>
    <div>
      <%= parentFile.name %>
    </div>
    <!-- form to upload files/data -->
    <div class="add-data-container">
      <form action="/files/upload_file/<%= parentFile.id %>" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
      </form>
      <form action="/files/upload_folder/<%= parentFile.id %>" method="post">
        <input type="text" name="name" placeholder="folder name" />
        <button type="submit">submit</button>
      </form>
    </div>
  <div class="container">
    <% files.forEach(file => { %>
      <div>
        <form action="/files/<%= file.id %>" method="GET">
          <button type="submit" class="<%= file.type === 'folder' ? 'folder-button' : 'file-button' %>">
            <%= file.name %> <!-- Display link to the file or folder name -->
          </button>
        </form>        
        <form action="/files/delete/<%= parentFile.id %>/<%= file.id %>" method="GET">
          <button type="submit" class="delete btn">Delete</button>
        </form>
      </div>
    <% }) %>
  </div>

</body>
</html>
